/* -----------------------------------------------HEADER--------------------------------------------------------- */

header{
    margin: 5px;
    padding: 5px;
    background-color: var(--light-blue);
    color: var(--info);
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0; 
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
    margin-bottom: 1rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap; 
}

.toggle{
    background-color: var(--primary);
    outline: none;
    border: none;
}
.toggle-list{
  flex-basis: 100%;
  flex-grow: 1;
}
.toggle-gray{
    background-color: var(--secondary);
}
.toggle-blue{
    background-color: var(--light-blue);
}
.ht-t{
    color: var(--rainbow-red);
}
.ht-a{
    color: var(--rainbow-orange);
}
.ht-r{
    color: var(--rainbow-yellow);
}
.ht-aa{
    color: var(--rainbow-green);
}
.ht-n{
    color: var(--rainbow-blue);
}
.ht-g{
    color: var(--rainbow-indigo);
}
/*---------------------------------------------------- CONTAINER------------------------------------------------- */
.container{
    margin: 5px;
    padding: 5px;
}
.sidebar{
    display: none;
}
.main{
    width: 100%;
    margin-top: 6rem;
}
.component{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
.category{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.lead{
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 300;
}

.flex-column{
    flex-direction: column;
}
.sidebar-list-item{
    padding: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 1rem;
}
.sidebar-list-group{
    padding: 0.75rem;
}
.display-none{
    display: none;
}
/* ---------------------------------------------------FOOTER----------------------------------------------------- */

footer{
    margin: 5px;
    padding: 5px;
}
.footer-row{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
}
.icon{
    color: var(--primary);
    font-size: 2rem;
}
/* ------------------------------------------------DESKTOP VIEW-------------------------------------------------- */
@media only screen and (min-width: 768px){
    .icon{
        font-size: 3rem;
    }
    header{
        position: relative;
        background-color: var(--white);
    }
    header, footer{
        margin: 1rem;
    }
    .container{
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 3fr;
        margin: 0.5rem;
    }
    .main{
        grid-area: main;
        margin-top: 1rem;
    }
    .toggle , .toggle-list{
        display: none;
    }
    .sidebar{
       grid-area: sidebar;
       display: flex;
       flex-direction: column;
       position: fixed;
    }

    .display-none{
        display: block;
    }
    .pre-tag{
        height: auto;
        width: 100%;
        background-color: var(--light-gray);
    }
    .sidebar-list-item{
        padding: 0.5rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 3px;
    }
    footer{
        padding: 1rem;
    }
   
}
