/* -----------------------------------------------HEADER--------------------------------------------------------- */

header{
    margin: 5px;
    padding: 5px;
    background-color: var(--light-blue);
    color: var(--info);
    padding: 1.5rem 1rem;
    position: fixed;
    top: 0; 
    right: 0;
    left: 0;
    z-index: 1030;
    width: 100%;
    margin-bottom: 1rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap; 
}

.toggle{
    background-color: var(--primary);
    outline: none;
    border: none;
}
.toggle-list{
  flex-basis: 100%;
  flex-grow: 1;
}
.toggle-gray{
    background-color: var(--secondary);
}
.toggle-blue{
    background-color: var(--light-blue);
}
/*---------------------------------------------------- CONTAINER------------------------------------------------- */
.container{
    margin: 5px;
    padding: 5px;
}
.sidebar{
    display: none;
}
.main{
    width: 100%;
    margin-top: 5rem;
}
.component{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    position: relative;
}
.category{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.5rem;
}
.lead{
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 300;
}
.pre-div{
    display: none !important;
}
.flex-column{
    flex-direction: column;
}
/* ---------------------------------------------------FOOTER----------------------------------------------------- */

footer{
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
}

/* ------------------------------------------------DESKTOP VIEW-------------------------------------------------- */
@media only screen and (min-width: 768px){
    header{
        position: relative;
    }
    header, footer{
        margin: 1rem;
    }
    .container{
        display: grid;
        grid-template-areas: "sidebar main";
        grid-template-columns: 1fr 3fr;
        margin: 1rem;
    }
    .main{
        grid-area: main;
    }
    .toggle , .toggle-list{
        display: none !important;
    }
    .sidebar{
       grid-area: sidebar;
       display: flex;
       flex-direction: column;
    }
    .pre-div{
        display: block !important;
    }
    .pre-tag{
        height: auto;
        width: 100%;
    }
}
