.round{
    border: 1px solid var(--danger);
}
.badge-relative{
    position: relative;

}
.badge{
    position: absolute;
    color: var(--primary);
    top: 0;
    right: 2px;
}
.badge-image{
  height: 15px;
  width: 15px;
  background-color: var(--success);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0px;
}