@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
@import "/styles/Layout/layout.css";
@import "/styles/Navigation/navigation.css";
@import "/styles/Buttons/button.css";
@import "/styles/Avatar/avatar.css";
@import "/styles/Alert/alert.css";
@import "/styles/Badges/badges.css";
@import "/styles/Images/image.css";
@import "/styles/Card/card.css";
@import "/styles/Form/form.css";
@import "/styles/Toast/toast.css";
@import "/styles/Modal/modal.css";
@import "/styles/Typography/typography.css";
@import "/styles/Lists/list.css";

/*----------------------------------------- || GENERAL STYLING--------------------------------------------------- */

:root{
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6D28D9;
    --pink: #e83e8c;
    --red: #d9534f;
    --orange: #fd7e14;
    --yellow: #f0ad4e;
    --green: #10B981;
    --teal: #20c997;
    --cyan: #1f9bcf;
    --white: #fff;
    --gray: #919aa1;
    --gray-dark: #343a40;
    --primary: #1a1a1a;
    --success: #4bbf73;
    --info: #1f9bcf;
    --warning: #f0ad4e;
    --danger: #d9534f;
    --light: #fff;
    --dark: #343a40;
    --secondary:#E5E7EB;
    --light-blue: #BFDBFE;
    --light-pink:#FECACA;
    --light-purple:#C4B5FD;
    --light-yellow:#FDE68A;
    --light-green:#A7F3D0;
    --light-red:#FCA5A5;
    --light-gray: #f7f7f9;
    --rainbow-red:#FF0000;
    --rainbow-orange:#FF7F00;
    --rainbow-yellow:#FFFF00;
    --rainbow-green:#00FF00;
    --rainbow-blue: #0000FF;
    --rainbow-indigo:#4B0082;
    --rainbow-violet:#9400D3;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Padauk',sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: var(--white);
}
ul{
    list-style-type: none;
}
a{
    color: var(--gray);
    text-decoration: none;
    background-color: transparent;
}

h1, h2,h3,h4,h5,h6{
    text-transform: uppercase;
    letter-spacing: 3px;
}

